
.header{
    width: 100%;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 50;
}
.left1{
    float:left;
    width: 20%;
    height:400px;
    background-color:darkgray;
    
}
.right1{
    float: left;
    width: 80%;
    height: 400px;
    background-color:lightgreen;

}
.footer{
    float: left;
    width: 100%;
    height: 100px;
    background-color:slateblue;
    COLOR:yellow;
}
.left1 h1{
    background-color: orange;
}
.left_menu{
    width: 100%;
    background-color: #f9e338;
    float: left;
}
