@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {

    width: 100%;
    min-height: 100vh;
    background: url("images/e-learning-la-gi.jpg") top left/cover no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;

}
.framex {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 6px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, #2c6ed5 0%, #2c6ed5 100%);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 260px;
	border-radius:  6px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	margin: -330px 150px 30px 610px;
position: absolute;
}

.upload-icon {
	margin: 25px 25px 12px 22px;
	
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: teal;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 teal;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
	background: teal;
	box-shadow: 0 3px 0 0 teal;
}
